.page_prod div {
    display: inline-block;
    text-align: center;
    width: 145px;
}

ul.hr {
    display: inline-block;
    margin: 0; /* Обнуляем значение отступов */
    padding: 0px; /* Значение полей */
}
ul.hr li {
    display: inline; /* Отображать как строчный элемент */
    margin-right: 0px; /* Отступ слева */
    padding: 0px; /* Поля вокруг текста */
}


table  {
    border-collapse: collapse;
}

table td, th  {
    padding: 5px;
}

.image{
    width: 150px;
    height: 100%;
    background-position: 50%;
    background-size: cover;
}
.vand_td_image {
    padding: 0!important;
    height: 110px;
    min-width: 150px;
    position: relative;
    padding: 0px;
    border: 0px;
}

.item-cat{
    width: 100%;
    height: 100%;
}

.item-title {
    color: #ff9249;
    font-size: 60px;
    font-weight: bold;
    margin: 10px 0;
}

.create-button  {
    color: blue;
    cursor: pointer;
    padding: 5px;
}
.edit-button  {
    padding: 2px 5px;
    background: #25A6E1;
    cursor: pointer;
}

.delete-button  {
    padding: 2px 5px;
    background: #CD5C5C;
    cursor: pointer;
}

.text-info  {
    padding: 6px 10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    border: none;
}

.text-info-color-gold {
    color: #f5e314;
    background: #feffe9;
    border-color: #ffeca7;
}

.text-info-color-red {
    color: #f5222d;
    background: #fff1f0;
    border-color: #ffa39e;
}

.text-info-color-blue {
    color: #4139f5;
    background: #e5e3ff;
    border-color: #9f8eff;
}

.text-info-color-green{
    color: #73f534;
    background: #e9ffe5;
    border-color: #caffb0;
}

.textStand{
    padding: 6px 10px;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
    border: none;
    color: #292929;
    background: #c7ddc5;
    border-color: #5e7b56;
}