<!DOCTYPE html>

<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>StartPage</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.js"></script>
    <script src="https://rawgit.com/michaelbromley/angularUtils-pagination/master/dirPagination.js"></script>
    <script th:src="@{/main.js}"></script>
    <link th:href="@{/main.css}" rel="stylesheet"/>
</head>

<body ng-app="ProductManagement" ng-controller="ProductController">
<div>
    <h1 class="item-title">
        It's not Science, IT'S START PAGE, B****!
    </h1>
</div>
<div>
<a class="create-button" ng-click="createProduct()">Create Product</a>
    <form ng-submit="submitProduct()">
        <table border="0">
            <tr>
                <td>Prod Id</td>
                <td>{{productForm.id}}</td>
            </tr>
            <tr>
                <td>Prod Name</td>
                <td><input type="text" ng-model="productForm.name"/></td>
            </tr>
            <tr>
                <td>Category</td>
                <td><input type="text" ng-model="productForm.categories[0].name"/></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" ng-model="productForm.price.value"/></td>
                <td>Currency</td>
                <td><input type="text"
                           placeholder="ВYN EUR USD"
                           ng-model="productForm.price.currency"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Submit" class="blue-button"/>
                </td>
            </tr>
        </table>
    </form>
</div>
<div>
    <form name="myForm" ng-submit="productByRange(range)" id="myForm" novalidate>
        <tr>
            <td>Min</td>
            <td><input type="number" name="minValue" ng-Model="range.minValue" placeholder="0"/></td>
            <td>Max</td>
            <td><input type="number" name="maxValue"  ng-Model="range.maxValue" placeholder="1000"/></td>
            <td colspan="2">
                <input type="submit" value="Submit" class="blue-button"/>
                <button type="reset" class="btn btn-success" id="reset-btn" ng-click="clearFormDataRange()">Reset?</button>
            </td>
        </tr>
    </form>
</div>
<br/>
<div>
    <table border="1">
        <tr>
            <th>Prod Id</th>
            <th></th>
            <th>Prod Name</th>
            <th>Categories</th>
            <th>Price</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <!-- $scope.products -->
        <tr ng-repeat="product in products.content">
            <td> {{ product.id }}</td>
            <td class="vand_td_image">
                <div class="image">
                    <img th:src="@{/img/cat.jpg}" alt="" class="item-cat">
                </div>
            </td>
            <td>
                <span class="textStand">
                    {{ product.name }}
                </span>
            </td>
            <td>
                <span class="text-info text-info-color-gold">
                    {{product.categories[0].name}}
                </span>
                <br>
                <p>
                    <span class="text-info text-info-color-gold"
                          ng-repeat="subcategory in product.categories[0].subcategoryes">
                        {{subcategory.name}}
                    </span>
                </p>
            </td>
            <td>
                <span class="text-info text-info-color-green">
                    {{ product.price.value }}
                    {{ product.price.currency }}
                </span>
            </td>
            <td>
                <a ng-click="editProduct(product)"
                   class="edit-button text-info text-info-color-blue">Edit</a>
            </td>
            <td>
                <a ng-click="deleteProduct(product)"
                   class="delete-button text-info text-info-color-red">Delete</a>
            </td>
        </tr>

    </table>
</div>

<br/>

   <ul disp dir-paginate = "page in pages | itemsPerPage: 10" current-page="1" class="hr">
       <li>
           <button type="submit" class="btn btn-success" id="" ng-click="pagingPage(page)">{{ page +1 }}</button>
       </li>
   </ul>
       <!--// <form name="myPage" ng-submit="pagingPage(page)" id="myPage" novalidate>-->

       <!--//</form>-->

<!--<tr dir-paginate ="page in pages | itemsPerPage: 10" current-page="1">
    <td>{{ page }}<td>

</tr>-->

</body>
</html>
